
<article id="dossier" ng-hide="hiddenContent" class="single">
  <div class="controls"><span ng-click="next()" class="icon icon-chevron-small-right"></span><span ng-click="prev()" class="icon icon-chevron-left"></span><span ng-click="close()" class="icon icon-cross"> </span></div>
  <section tag-external class="dossier-content single-content">
    <div class="content">
      <header class="dossier-header">
        <h1 ng-bind-html="dossier.title"></h1>
      </header>
      <div class="location"> 
        <div class="icon icon-map-marker"> </div><span class="mun">{{dossier.meta.municipio}}</span><span>&nbsp;-&nbsp;</span><span class="uf">
           
          {{dossier.meta.uf}}</span>
      </div>
      <custom-sharer></custom-sharer>
      <p ng-show="dossier.excerpt" ng-bind-html="dossier.excerpt" class="excerpt"></p>
      <p class="author">por {{dossier.author.name}}</p>
      <div ng-bind-html="dossier.content" fit-vids></div>
    </div>
  </section>
</article>
<div id="dossier-case" ui-view></div><a href="javascript:void(0);" ng-click="toggleContent()" class="map-toggle show-if-mobile"><span ng-show="hiddenContent">Ver dossiê</span><span ng-hide="hiddenContent"><span class="icon icon-map"> </span>Ver mapa</span></a>