article#dossier.single(ng-hide="hiddenContent")
  section.dossier-content.single-content(tag-external)
    header.dossier-header
      h1(ng-bind-html="dossier.title")
    .location 
      .icon.icon-map-marker
    .share
      span Compartilhe:
      a.icon.icon-facebook-square(ng-href="{{facebookSharerURL}}")
      a.icon.icon-twitter(ng-href="{{twitterSharerURL}}")
      a.icon.icon-whatsapp(ng-href="{{whatsappSharerURL}}")
      a.icon.icon-printer(href="javascript:window.print();")
    p.excerpt(ng-show="dossier.excerpt" ng-bind-html="dossier.excerpt")
    p.author por {{dossier.author.name}}
    div(ng-bind-html="dossier.content" fit-vids)
  section.dossier-author
    h2 Autor
    h3 {{dossier.author.name}}
    p {{dossier.author.description}}

#dossier-case(ui-view)

a.map-toggle.show-if-mobile(href="javascript:void(0);" ng-click="toggleContent()")
  span(ng-show="hiddenContent")
    | Ver dossiê
  span(ng-hide="hiddenContent")
    span.icon.icon-map 
    | Ver mapa
