article#dossier.single(ng-hide="hiddenContent")
  header.dossier-header
    h1(ng-bind-html="dossier.title")


#dossier-case(ui-view)

a.map-toggle.show-if-mobile(href="javascript:void(0);" ng-click="toggleContent()")
  span(ng-show="hiddenContent")
    | Ver dossiê
  span(ng-hide="hiddenContent")
    span.icon.icon-map 
    | Ver mapa
