<p>aaaaaaaaaa</p> 
.share
    span Compartilhe:
    a.icon.icon-facebook-square(ng-href="{{facebookSharerURL}}" target="_blank")
    a.icon.icon-twitter(ng-href="{{twitterSharerURL}}" target="_blank")
    a.icon.icon-whatsapp(ng-href="{{whatsappSharerURL}}" target="_blank")
    a.icon.icon-printer(href="javascript:window.print();")